$input-font-size                : 14px !default
$input-text-color               : darken(#FAFAFA, 45%) !default
$input-label-color              : darken(#FAFAFA, 30%) !default
$input-autofill-color           : inherit !default
